body {
  display: grid;
  grid-template-columns: auto 1100px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1100px;
  grid-column: 2;
}

header {
  background-image: url("img/header_bg.png");
  background-repeat: repeat;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

header nav ul {
  margin-top: 30px;
  text-align: center;
}


header nav ul li {
  padding-left: 40px;
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  color: #314759;
  font-family: 'Lato', sans-serif;
}

main {
  background-image: url("img/banner_bg.png");
}

.banner {
  display: inline-grid;
  height: 425px;
  grid-gap: 25px;
}

.imgBanner {
  margin: 30px 0px 80px 60px;
}

.textBanner {
  grid-row: 1;
  grid-column: 2/2;
  color: white;
  width: 250px;
  font-family: 'Lato', sans-serif;
}

.textBanner h1 {
  font-size: 26px;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
}

.textBannerP {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
}

.cartext {
  color: white;
  width: 250px;
  font-family: 'Lato', sans-serif;
}

/*cards*/

.grid-container-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 25px;
}

.card {
  grid-row: 1;
}

.card h2 {
  font-size: 20px;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
}

.card p {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
}
.card a {
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
}

.card2 {
  grid-row: 2;
}

.card2 h2 {
  font-size: 20px;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
}

.card2 p {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
}
.card2 a {
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
}

.card2 img {
  max-height: 250px;
  max-width: 333px;
}

.card img {
  max-height: 250px;
  max-width: 333px;
}

/*Footer*/

footer {
  background-image: url("img/footer_bg.png");
  background-repeat: repeat;
  color: #314759;
  max-height: 50px;
}

footer p {
  text-align: center;
  padding-bottom: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
}
